
.xx1 {
    font-size: 13px;
    color: #ED7A7A;
    border-bottom: 1px solid #A60000;
    background: #7B0000;
    background: linear-gradient(to bottom, #500000, #7B0000);
    margin-right: 20px;
    margin-left: 20px;
    min-height: 320px;

}

.xx {
    font-size: 13px;
    color: #ED7A7A;
    border-bottom: 1px solid #A60000;
    background: #7B0000;
    background: linear-gradient(to bottom, #6C030399, #7B000099);
    margin-right: 20px;
    margin-left: 20px;
    min-height: 320px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    border-left: 1px solid #eee8aa4d;
    border-radius: 4px;


   background: rgba(77, 0, 0, 0.5);
color: #000;
box-shadow: 0 0 1px #000
}
.marco-desc {
    border: 4px;
    border-color: #080707;
    color: #000;
    border-radius: 0px;
    box-shadow: 0 0 1px #000;
/*    background: linear-gradient(to bottom, #A60000, #3C020999) !important;
*/ 

    
}


.popularidad {
    font-size: 25px !important;
    color: orange;
}


.negro{
    text-decoration-color: #fff;
    color: black;
}
#negro{
    text-decoration-color: #fff;
    color: black;
}

.dorado {
    text-decoration-color: #EEE8AA;
    color: #FF8686;
}

.articulo1{
    height: 133px;
    width: 180px;
    margin-bottom: -140px;
}

.articulo2{
    height: 133px;
    width: 180px;
    margin-left: 210px;
    margin-top: 5px;
}
.tex-col {
    text-align: center;
    border-bottom: 1px solid #eee889;
}


.perfil {
    color: #ED7A7A;
    box-shadow: 4px;
    padding: 15px;
    border-left: 1px solid #eee8aa4d;
    min-height: 350px;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 28px;
}
.prviuw {
    float: left;
    margin: 3px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 3px;
}
#list {
    color: white;
    text-align: center;
    font-style: italic;
    margin-bottom: 15px;
    border-top: 1px solid #fff3;
}
#fotoG {
    /* min-width: 100%; */
    width: 200px;
    height: 200px;
}

.contenedor-img-agencia {
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    padding-left: 16px;
    padding-top: 20px;
}


li {
    display: block;
}

.margen_vista_nina {
    margin-top: 12px;
    padding: 0px;
    margin-left: -29px;
}

#contacto {
    padding-top: 13px;
    color: black;
    padding-left: 0px;
}

#mail{
    color: black;
    padding-left: 40px;
}


form{ 
    width:100%; 
    margin:0 auto; 
    padding:10px; 
}

form p, form input[type = "submit"]{
    text-align:center; 
    font-size:20px;
}

input[type = "radio"]{ 
    display:none;
}

label{
    color:black;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: -10px;

    text-align: center;
}

label:hover,
label:hover ~ label{color:orange;}
input[type = "radio"]:checked ~ label{color:orange;}

.estrella{
    font-size: 250%;
    text-align: center;
    margin-top: -26px;
}
.califica {
    font-size: 16px;
    color: black;
    text-align: center;
}
.prviuw > img {
    width: 90px;
    height: 90px;
}